.Footer {
  padding-top: 3rem;
  background-color: #333;
  .footer-nav {
    flex-direction: column;
  }
  h6 {
    margin-bottom: 1rem;
    color: lightgray;
    @media (min-width: 1200px) {
      font-size: 1.6rem;
    }
  }
  a {
    margin-top: -1rem;
    color: lightgray;
    &.top-link {
      font-size: .8rem;
      position: absolute;
      top: -1.5rem;
      right: .7rem;
      @media (min-width: 768px) {
        top: -1rem;
        right: 0;
      }
      @media (min-width: 1200px) {
        font-size: 1rem;
        top: -1rem;
        right: -4rem;
      }
    }
    &:hover {
      color: darkgray;
    }
  }
  p {
    font-size: .8rem;
    line-height: 1rem;
    color: darkgray;
    @media (min-width: 1200px) {
      font-size: 1rem;
    }
    &.disclaimer-text {
      margin-top: -.5rem;
    }
    &.copyright {
      margin-top: -.75rem;
    }
  }
  .wrapper {
    .left {
      float:left;
      .name {
        font-size: .9rem;
        line-height: .2rem;
        @media (min-width: 1200px) {
          font-size: 1.1rem;
        }
      }
    }
    .right {
      float: left;
      margin-bottom: 2rem;
      .domain {
        font-size: .9rem;
        line-height: .2rem;
        @media (min-width: 1200px) {
          font-size: 1.1rem;
        }
      }
    }
  }
}
