.NowSection {
  text-align: right;
  padding-bottom: 40px;
  .do-it {
    padding-top: 80px;
    transform: scale(1,1);
    .long-arrow {
      margin-top: -30px;
      margin-right: -35px;
      color: #f9831b;
    }
    .bounce {
      animation: bounce 15s infinite;
    }
    .subtitle {
      margin-top: -20px;
      padding-left: 10%;
    }
  }
  .cloud {
  }
}

@keyframes bounce {
	0%, 2%, 5%, 8%, 100% {
    transform: scale(1.5,1);
    transform-origin: right;
  }
	4% {
    transform: translateX(-80px);
  }
  6% {
    transform: translateX(-50px);
  }
}
