.NowSection {
  .do-it {
    height: 0;
    visibility: hidden;
    @media (min-width: 568px) {
      visibility: visible;
      text-align: right;
      transform: scale(1,1);
      font-size: 1.2rem;
      padding-top: 30px;
    }
    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
    @media (min-width: 992px) {
      font-size: 2rem;
      padding-top: 60px;
    }
    @media (min-width: 1200px) {
      font-size: 3rem;
      padding-top: 85px;
    }
    h1 {
      margin-bottom: -25px;
      font-size: 2rem;
      @media (min-width: 768px) {
        margin-bottom: -30px;
        font-size: 2.5rem;
      }
      @media (min-width: 992px) {
        margin-bottom: -40px;
        font-size: 3.5rem;
      }
      @media (min-width: 1200px) {
        margin-bottom: -65px;
        font-size: 4.5rem;
      }
    }
    .long-arrow {
      margin-right: -35px;
      color: #f9831b; // mongodb orange (from word cloud)
      &.bounce {
        animation: bounce 15s infinite;
      }
    }
    h3 {
      font-style: italic;
      color: darkgray;
      margin-top: -25px;
      font-size: 1.4rem;
      line-height: 1.5rem;
      padding-left: 0;
      @media (min-width: 768px) {
        margin-top: -30px;
        font-size: 1.7rem;
        line-height: 1.8rem;
        padding-left: 5%;
      }
      @media (min-width: 992px) {
        margin-top: -40px;
        font-size: 2rem;
        line-height: 2rem;
        padding-left: 20%;
      }
      @media (min-width: 1200px) {
        margin-top: -55px;
        font-size: 3rem;
        line-height: 3rem;
      }
    }
  }
}

@keyframes bounce {
	0%, 2%, 5%, 8%, 100% {
    transform: scale(1.5,1);
    transform-origin: right;
  }
	4% {
    transform: translateX(-80px);
  }
  6% {
    transform: translateX(-50px);
  }
}
