.NowSection {
  text-align: right;
  .do-it {
    padding-top: 20%;
    hr {
      margin-right: -2rem;
      height: .5rem;
      color: #333;
      background: #333;
      font-size: 0;
      border: 0;
    }
    .bounce {
      animation: bounce 20s infinite;
    }
    .subtitle {
      padding-left: 20%;
    }
  }
}

@keyframes bounce {
	0%, 2%, 5%, 8%, 100% {
    transform: translateX(0);
  }
	4% {
    transform: translateX(-30px);
  }
  6% {
    transform: translateX(-15px);
  }
}
