  .RolesSection {
    padding-left: 0;
    padding-right: 0;
    .col-md-4 {
      padding: 3px 50px;
    }
    @media (min-width: 576px) {
      padding-left: 10px;
      padding-right: 10px;
    }
    @media (min-width: 768px) {
      padding-left: 10px;
      padding-right: 10px;
      .col-md-4 {
        padding: 3px;
      }
    }
    @media (min-width: 992px) {
      padding-left: 0;
      padding-right: 0;
    }
    @media (min-width: 1200px) {
      padding-left: 10px;
      padding-right: 10px;
    }
    img {
      width: 100%;
    }
    h1 {
      font-size: 1.5rem;
      line-height: 1.7rem;
      @media (min-width: 576px) {
        padding-bottom: 6px;
        font-size: 2rem;
      }
      @media (min-width: 768px) {
        font-size: 2rem;
      }
      @media (min-width: 992px) {
        font-size: 2.5rem;
      }
      @media (min-width: 1200px) {
        font-size: 3.5rem;
      }
    }
    // <CardTitle> is an <h4>
    h4 {
      font-size: 1.5rem;
      line-height: 1.5rem;
      @media (min-width: 576px) {
        font-size: 1.8rem;
        line-height: 1.8rem;
      }
      @media (min-width: 768px) {
        font-size: 1.35rem;
      }
      @media (min-width: 992px) {
        font-size: 1.85rem;
      }
      @media (min-width: 1200px) {
        //font-size: 3rem;
      }
    }
    // <CardSubtitle> is an <h6>
    h6 {
      font-size: 1.1rem;
      font-style: italic;
      line-height: 1.2rem;
      color: darkgray;
      @media (min-width: 576px) {
        font-size: 1.3rem;
      }
      @media (min-width: 768px) {
        //font-size: 2.1rem;
      }
      @media (min-width: 992px) {
        //font-size: 2.75rem;
      }
      @media (min-width: 1200px) {
        //font-size: 3rem;
      }
    }

    p {
      color: #333;
      font-size: 1.1rem;
      line-height: 1.25rem;
      @media (min-width: 576px) {
        font-size: 1.25rem;
        line-height: 1.4rem;
      }
    }
  }
