.ThenSection {
  position: relative;
  padding-bottom: 20px;
  .headline {
    top: 140px;
    left: 40px;
    position: absolute;
    h1 {
      color: #daf7ae; // matches glove highlight color
      @media (min-width: 768px) {
        //font-size: 2.5rem;
      }
    }
  }
  .bricks-list {
    bottom: 40px;
    left: 40px;
    padding-right: 40px;
    position: absolute;
    .brick {
      margin: 6px;
      color: black; //#daf7ae
      background-color: rgba(245, 245, 245, 0.7);
    }
  }
}
